.features {
    overflow: hidden;
  }
  
  .features .nav-tabs {
    border: 0;
  }
  
  .features .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #556270;
    border-radius: 0;
    border-right: 2px solid white;
    font-weight: 600;
    font-size: 15px;
  }
  
  .features .nav-link:hover {
    color: #d9232d;
  }
  
  .features .nav-link.active {
    color: #d9232d;
    border-color: #d9232d;
  }
  
  .features .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .features .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #556270;
  }
  
  .features .details p {
    color: #777777;
  }
  
  .features .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .features .nav-link {
      border: 0;
      padding: 15px;
    }
  
    .features .nav-link.active {
      color: #fff;
      background: #d9232d;
    }
  }
  